body.ltr.lang_zh-cn {
    background:#FFFFFF;
}
div.window-wrap {
    background:#FFFFFF;   
}

.dashboard .profile-sidebar {
    background: transparent;
    float: right;
    margin-left: 2.35765%;
    width: 23.23176%;
    margin-top: 40px;
    border-top: 3px solid #F5F5F5;
    padding: 20px 0;
}

header.global {
	border-bottom: 1px hidden #919191;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
	background: #fff;
	position: relative;
	width: 100%;
	height: 76px
}
.home div.school{
    margin: auto;  
  width:1366;  
  height:103px; 
}


.home div.school .leftmove:before{
    content: "\f053";
     font-family: 'FontAwesome';
	width: 30px;
        height: 56px
 }


.home div.school .rightmove:before{
    content: "\f054";
     font-family: 'FontAwesome';
    font-weight: normal;
 }


.home .school div.mylink{
    width: calc(100% - 130px); 
    
    height:103px;
    overflow:hidden;
    float:left; 
    margin-left: 20px;
    margin-right: 20px;
   
}
.home .school .mylink ul{
    box-sizing: border-box;
    
    height: 0px;
    margin: 2px,2px;
    line-height: 2px;
    list-style-type: none;
    text-align: center;
    width:300%;
  
   /* list-style:none;*/
}
.home .school .mylink li{
    
    box-sizing: border-box;
    color: rgb(78, 78, 78);
    display: block;
    float: left;
    height: 90px;
    margin-left: 20px;
    line-height: 2px;
    list-style-type: none;
    text-align: center;
    width: 215.5px;

}

.home .school .leftmove{
		
    cursor:pointer;
		float:left;		
		height:90px;
		line-height:90px;
		text-align:center;
		margin-left:10px;
		
	}


.home .school .rightmove{
	 cursor:pointer;
	 float:left;
	 height:90px;	
	line-height:90px;
	text-align:center;	
	margin-left:10px; 
  
	}


.wrapper-footer footer#footer-openedx .do_scroll .txt h3{
	
    font-weight: 100;
    font-family: 'Helvetica Neue', tahoma, arial, 'Hiragino Sans GB', 'Microsoft YaHei';
        font-size: 27.9996px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    margin:10px;
}
.wrapper-footer footer#footer-openedx .do_scroll .txt h4{
	font-size: 1.66666em;
    
    font-family: 'Helvetica Neue', tahoma, arial, 'Hiragino Sans GB', 'Microsoft YaHei';
    font-size: 19.9999px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    height: 30px;
    line-height: 29.9999px;
    margin:10px;
    
}
.wrapper-footer footer#footer-openedx .do_scroll .txt .color_p{
    color: #FFF;
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    background: #592f81 !important;
    vertical-align: bottom;
    margin-right: 1em;
}
.wrapper-footer footer#footer-openedx .do_scroll .txt span{
    
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    vertical-align: bottom;
    margin-right: 1em;
}
.wrapper-footer footer#footer-openedx .do_scroll .txt p{
    font-size: 1.333em;
    font-family: 'Helvetica Neue', tahoma, arial, 'Hiragino Sans GB', 'Microsoft YaHei';
    font-size: 15.996px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 58px;
    line-height: 23.994px;
}
.home div.content {
	width:100%;
	height: 426px;
	margin: 0;
}
/*滑动效果部分的css样式布局*/

.home .content .area {
	width: 100%;
	height: 426px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.home .content .area .prevBtn {
	background: url(/static/images/floatimages/left_jiantou.png)no-repeat;
	height: 50px;
	width: 50px;
	display: block;
	position: absolute;
	top: 250px;
	left: 7px;
}

.home .content .area .nextBtn {
	background: url(/static/images/floatimages/right_jiantou.png)  no-repeat;
	height: 50px;
	width: 50px;
	display: block;
	position: absolute;
	right: 11px;
	top: 250px;
}


.home .content .area .js {
	POSITION: relative;
	WIDTH: 100%;
	height: 426px;
	margin: 0 auto;
}


.home .content .area .js .box01 .img {
	display: block;
	margin: 0;
	overflow: hidden;
}

.home .content .area .img_display {
	display: none;
	display: block;
	margin: 0;
}

.home .content .area .js .jsNav {
	position: absolute;
	left: 465px;
	top: 400px;
}

.home .content .area .js .jsNav a {
	width: 20px;
	font-size: 14px;
	margin-right: 6px;
	display: inline;
	height: 20px;
	line-height: 33px;
	display: block;
	float: left;
	text-align: center;
	color: #fff;
/* background:url(../image/dian_2.png) no-repeat;*/
}
/*.jsNav a:hover{background:url(../image/dian.png) no-repeat;color: #FF1555; text-decoration:none;}*/
.home .content .area .js .jsNav .imgSelected {
/* background:url(../image/dian_2.png) no-repeat;color: #FF1555;*/
}



.home .content .area .qq {
/*display:none; */
	z-index: 200
}
