<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<!--<section class="container about">
<h1>${_("Honor Code")}</h1>
<p>${_("This page left intentionally blank. It is not used by edx.org but is left here for possible use by installations of Open edX.")}</p>
</section>  -->

<section class="static-container tos">
  <h1>知识港服务条款</h1>
  <hr class="horizontal-divider"/>

  <div class="inner-wrapper">
    <p align="LEFT">
      欢迎访问知识港。
    </p>
    <p align="LEFT">
      <strong>在注册</strong>
      <strong>知识港</strong>
      <strong>（下称“本网站”，包括</strong>
      <strong>101.201.73.75</strong>
      <strong>
        域名下的所有内容和页面）的任何部分（包括访问任何课程资料、论坛或使用其他电子服务）之前，请务必审慎阅读、充分理解本服务条款（下称“本服务条款”）、<a <a href="/honor#privacy">隐私政策</a> 和       <a href="/honor#honor">诚信守则</a> 的内容，特别是免除或限制责任的条款，限制、免责条款可能以黑体加粗形式提示您注意。
      </strong>
    </p>
    <p align="LEFT">
      <strong>本服务条款、隐私政策和诚信守则是您与知识港之间的协议（下称“本协议”）。不论您是否为注册用户，您使用本网站即视为您已阅读并同意接受本协议的约束。如果您不理解或不希望受本协议条款的约束，您无权使用本网站。</strong>
    </p>
    <p align="LEFT">
      <strong>如果您未满</strong>
      <strong>18</strong>
      <strong>周岁，请在法定监护人的监护、指导下阅读本协议和使用本网站。</strong>
    </p>
    <p align="LEFT">
      知识港保留在不事先通知您的情况下随时修改本服务条款的权利。本服务条款的任何修改在本页面上发布后立即生效，并附更新后的生效日期。在本网站进行任何修改之后，您继续访问本网站即视为您已接受修改后的服务条款和本网站的其他全部修改。请定期访问本页面以了解本服务条款的最新版本。
    </p>
    <h2>
      <strong>知识港简述</strong>
    </h2>
    <p align="LEFT">
      知识港提供在线课程，包括：（1）师生、同学间互动；（2）学生成果个体评估；以及（3）为达到标准的学生颁发成绩证书或其他证明文件。
    </p>
    <h2>
      <strong>网络行为准则</strong>
    </h2>
    <p align="LEFT">
      您同意对您使用本网站和您的用户发布内容承担责任。“用户发布内容”是指您和本网站的其他用户在本网站上提交、发布、发表和分发的所有内容，包括但不限于所有论坛帖子、Wiki词条、笔记、问题、评论、视频和上传的文件。<strong>您同意您将根据本服务条款、诚信守则和所有适用的法律法规使用本网站，不得利用本网站从事违法违规行为。您同意尊重当地的社会公德、道德和风俗习惯，避免因使用本网站而使知识港卷入任何政治和公共事件。</strong><strong>如果您的行为违反本条约定，您应当为此承担全部法律及相关行政责任</strong>    <strong>，相关国家机关或机构可能会对您提起诉讼、罚款或采取其他制裁措施，并要求知识港给予协助，您对由此给知识港或他人</strong><strong>造成损害的，您应依法予以赔偿，知识港不承担任何责任。</strong>
    </p>
    <p align="LEFT">
      作为您使用知识港服务的条件之一，您不得以任何试图损坏、禁用、超载或损害知识港服务器及连接在线服务器的网站，或影响他人使用本网站的方式使用本网站。您不得试图通过黑客手段、密码破解或任何其他手段未经授权地访问本网站、其他帐号、计算机系统和连接知识港服务器的网络。您不得通过任何不当手段获取或者试图获取存储在本网站、其服务器和相关计算机上的资料和信息。
    </p>
    <p align="LEFT">
      <strong>本网站严格禁止以下内容：</strong>
    </p>
    <ul>
      <li>
        <p align="LEFT">
          诽谤、骚扰或威胁他人的内容；
        </p>
      </li>
      <li>
        <p align="LEFT">
          讨论试图从事的非法活动的内容；
        </p>
      </li>
      <li>
        <p align="LEFT">
          侵犯他人知识产权及其他与知识产权有关的合法权利的内容；
        </p>
      </li>
      <li>
        <p align="LEFT">
          粗俗、色情、淫秽、下流、暴力和非法的内容；
        </p>
      </li>
      <li>
        <p align="LEFT">
          广告或者其他形式的商业宣传；
        </p>
      </li>
      <li>
        <p align="LEFT">
          与政治活动相关的内容；
        </p>
      </li>
      <li>
        <p align="LEFT">
          病毒、木马、蠕虫、数据包炸弹、篡改的文件、恶意软件、间谍软件或者其他类似的可能损害他人计算机运行或财产的内容；
        </p>
      </li>
      <li>
        <p align="LEFT">
          恶意虚构或者故意误导他人的内容。
        </p>
      </li>
    </ul>
    <p align="LEFT">
      此外，您同意不抓取和批量下载本网站的内容，包括但不限于系统上的用户列表或目录、在线教材、用户发布内容或用户信息。在使用网站时，您不得冒用或者试图冒用他人身份。
    </p>
    <h2>
      <strong>用户帐号和权限</strong>
    </h2>
    <p align="LEFT">
      为了充分参与本网站的各项活动，您必须提供姓名、电子邮件地址和用户密码才能创建用户帐号（下称“用户帐号”）。若适用的法律法规有特殊规定的，您需要填写真实的身份信息。若您填写的信息不完整，则无法使用本网站或在使用过程中受到限制。您同意在任何情况下均不将您的用户帐号信息泄露或分享给第三方。知识港特别提醒您应妥善保管您的用户帐号和密码，当您使用完毕后，应安全退出。    <strong>因您保管不善可能导致遭受盗号或密码失窃的后果，责任由您自行承担。</strong>在设置您的用户帐号时，您可能会被要求输入附加的可选信息（例如您的住址）。您应确认您所提供的全部信息均是准确和最新的。您同意维护和更新个人信息以保证其为准确和最新的。
    </p>
    <p align="LEFT">
      我们十分重视您个人信息的保密性和安全性。请查阅我们的<a href="/honor#privacy">隐私政策</a> ，以了解知识港收集您的哪些信息以及如何使用这些信息的更多内容。
    </p>
    <h2>
      <strong>您使用本网站内容的权利</strong>
    </h2>
    <p align="LEFT">
      除非标明属于公有领域，本网站的内容受中华人民共和国（下称“中国”）和其他国家著作权法保护。除非本网站另有明文规定，本网站提供的课件、考试资料、视频、图片以及其他课程资料仅供您个人在学习相关课程时使用。我们致力于在更开放的许可条款下尽可能公开知识港的课程内容，从而为作出贡献的人们创造更富活力的生态系统，并促进知识港实现其目标——使教育触手可及。
    </p>
    <p align="LEFT">
      本网站的某些参考文件、数字化教材、文章和其他信息系获得第三方许可后使用，且这些信息的使用必须遵守随其公布的相关规则和条款。您使用本网站，即视为您同意遵守前述所有规则和条款。
    </p>
    <p align="LEFT">
      您同意保留您从本网站获取的内容上的所有著作权及其他通知。若未明文授权，本网站及其内容的所有权利皆被保留。未经相关权利人书面许可，您不得以任何形式进行使用或创造相关衍生作品。
    </p>
    <h2>
      <strong>用户发布内容</strong>
    </h2>
    <p align="LEFT">
      <strong>用户发布内容相关陈述和保证。</strong>
      通过提交或分发您的用户发布内容，您确认、陈述并保证：（1）您具有或获得了必要的权利、许可、同意及/或权限，以复制和公开用户发布内容并授权知识港及其用户复制、修改、发布和以您允许的其他方式使用和分发您的用户发布内容；以及（2）不论您提交用户发布内容，还是执行前文授权，均不会侵犯任何第三方的权利。您（而非知识港）对您的用户发布内容、其发布或发表的后果及前述授权承担全部责任。
    </p>
    <h2>
      <strong>商标及其他标记</strong>
    </h2>
    <p align="LEFT">
      <strong>知识港、</strong>
      <strong>X</strong>
      <strong>大学名称、商标和服务标记的使用</strong>
      “知识港”的名称、徽标和印章均为其特定商标或标记。同样的，大学、的名称、徽标和印章也均为其各自所有的特定商标及其他标记。未经所有者事先书面同意，您不得使用任何上述商标、其他标记或其变体。您不得为推广目的使用任何上述商标或其变体，也不得以按照上述商标所有者自行判断认为是蓄意或疏忽地声称、暗示或给他人造成与该等机构有关系或为该等机构所认可的表象或印象的方式使用任何上述商标或其变体。
    </p>
    <p align="LEFT">
      本网站上或者通过本网站的服务展示的非为知识港或者X大学所有的商标（如有）系其各自所有者的财产。
    </p>
    <p align="LEFT">
      本网站的任何内容均不得被解释为明示地或暗含地或以其他形式授权在未经商标所有者的书面同意的情形下使用本网站展示的任何商标。
    </p>
    <p align="LEFT">
      如果权利所有人认为本网站的内容侵害了其合法权利，权利所有人应立即联系contact@xuetangx.com。
    </p>
    <h2>
      <strong>免责声明</strong>
      <strong>/</strong>
      <strong>责任限制</strong>
    </h2>
    <p align="LEFT">
      <strong>本网站及经其提供的任何信息、内容或服务均按“原状发布”，无任何明示的、暗含的或其他形式的保证，包括但不限于对特定目的的适销性、适用性以及非侵权的任何暗含的保证，但是适用的法律不允许否认的暗含的保证除外。</strong>
    </p>
    <p align="LEFT">
      <strong>您理解并同意，本网站的服务是按照现有技术和条件所能达到的现状提供的。知识港和知识港成员（定义见下文）会尽最大努力向您提供服务，但是不能随时预见和防范法律、技术以及其他风险，包括但不限于不可抗力、病毒、木马、黑客攻击、系统不稳定、第三方服务瑕疵、政府行为等原因可能导致的服务中断、数据丢失以及其他的损失和风险。知识港和知识港成员不保证本网站的运作不会出现干扰或错误，不保证本网站不存在病毒或者其他有害内容，不保证本网站提供的课程或者内容符合您的需求和预期。知识港和知识港的参与者也不保证本网站、任何课程或内容的准确性、完整性、时序性和质量，也不保证任何特定课程会持续提供。"知识港"是指X大学以及其他为本网站、课程指导老师及其职员提供信息、内容和服务的机构。</strong>
    </p>
    <p align="LEFT">
      <strong>
        您自行承担使用本网站以及通过本网站获得的内容和服务的全部风险。您自行决定是否访问本网站或任何参考网站，或是否通过该等网站下载信息、资料或数据，并自行承担全部风险，且您对因下载或使用该等资料或数据导致的您的财产（包括计算机系统）损坏或数据丢失承担全部责任，知识港隐私政策另有明文约定的除外。
      </strong>
    </p>
    <p align="LEFT">
      <strong>用户发布内容的免责声明</strong>
      。您理解在使用本网站时您会接触到各种不同来源的用户发布内容，且您同意知识港或知识港成员不必对用户发布内容相关的准确性、实用性、可靠性或知识产权承担责任。您进一步理解和确认，您可能会接触到不准确的、令人不快的、诽谤的、不得体的或令人反感的用户发布内容，且您同意特此放弃您享有的或可能享有的对知识港或与前述内容相关的任何知识港成员的任何权利或救济措施。知识港或者任何知识港成员均不支持任何用户发布内容或其中表达的任何观点、推荐或建议。知识港或者任何知识港成员均无义务监控任何用户发布内容或通过本网站进行的任何其他用户通信。
    </p>
    <p align="LEFT">
      但是，知识港保留在任何时间、为任何原因进行用户发布内容审查以及自行决定酌情全部或部分地编辑或删除任何用户发布内容的权利，以及保留允许知识港成员进行前述行为的权利。在前述规定继续有效的前提下，在接到用户或内容所有者的通知主张某用户发布内容不符合本服务条款后，知识港有权调查该等主张并根据其自行判断决定是否删除该用户发布内容（知识港保留不经通知而随时进行前述行为的权利），同时，知识港有权视您的行为性质采取包括但不限于终止您对知识港的使用权、追究法律责任等措施。
    </p>
    <p align="LEFT">
      <strong>链接至其他网站。</strong>
      本网站可能包含由他人维护或控制的超链接，知识港和知识港成员不对该等网站可能提供的任何产品或服务的内容或者其使用承担任何责任，并且不会定期筛查、审批、审查或批准该等内容或者其使用。如果您决定访问链接的第三方网站，您应自行承担全部风险。
    </p>
    <p align="LEFT">
      <strong>在适用法律允许的最大范围内，您同意知识港及任何知识港成员均</strong>
    </p>
    <p align="LEFT">
      <strong>必对由下列事项导致的或与之相关的您所遭受的任何实际或间接损失承担任何责任：（</strong>
      <strong>1</strong>
      <strong>）本服务条款；或（</strong>
      <strong>2</strong>
      <strong>）您或任何第三方使用本网站或未能使用本网站；或（</strong>
      <strong>3</strong>
      <strong>）您在本网站上发布内容；或（</strong>
      <strong>4</strong>
      <strong>）您依赖本网站或经本网站获取的信息，无论您的权利主张是基于合同法、侵权法或其他法律法规。</strong>
    </p>
    <p align="LEFT">
      <strong> </strong>
    </p>
    <p align="LEFT">
      <strong>特别地，在适用法律允许的最大范围内，知识港及任何知识港成员均不必对任何间接的、惩罚性的、特别的或附随的损失承担任何责任，不论是否为可预见的，也不论知识港及任何知识港成员是否存在疏忽或有其他过错（包括但不限于主张诽谤、错误、利益损失、数据丢失或数据提供中断）。</strong>
    </p>
    <h2>
      <strong>赔偿</strong>
    </h2>
    <p align="LEFT">
      您同意赔偿知识港、知识港成员及其各自分支机构、附属机构、管理人员、工作人员、学生、研究院、管理委员会成员、代理机构及雇员，使其免受因您使用本网站引起的、导致的或在任何方面与之相关的任何第三方权利主张、诉讼或请求所产生的损失，包括但不限于任何及所有权利主张、实际或间接损失、诉讼、判决、诉讼费用及律师费所致的任何种类或性质的责任或费用。在此情形下，知识港或任何知识港的成员将书面告知您该等权利主张或诉讼的情况。
    </p>
    <h2>
      <strong>杂项</strong>
    </h2>
    <p align="LEFT">
      <strong>终止权；停止课程与内容。</strong>
      您同意知识港有权自行决定因任何原因或无任何原因地终止您对本网站的使用或参与，只需通知您即可。在适当的情况下对反复侵犯著作权的本网站用户予以终止是知识港的一项基本原则。知识港及知识港成员保留随时自行决定取消、推迟通过知识港提供的任何课程，或重排课程时间，或调整课程的格式，或停止提供部分或全部本网站的内容或相关服务的权利，并且您同意知识港及任何知识港成员均不必就上述行为向您承担任何责任。如果您不愿再参与本网站，您可以随时终止。本服务条款赋予您的权利将随您对本网站的使用权的终止而终止，但本服务条款的其他约定在该等终止后继续有效。
    </p>
    <p align="LEFT">
      <strong>全部协议。</strong>
      本服务条款、诚信守则和隐私策略构成您和知识港之间就您使用本网站所达成的全部协议，取代此前您和知识港之间就您使用本网站所达成的任何协议。
    </p>
    <p align="LEFT">
      <strong>弃权与服务条款的可分性。</strong>
      知识港未能行使本服务条款项下的任何权利或执行本服务条款的任何约定不构成其对该等权利或约定的放弃。如果本服务条款的任何条款被拥有合法管辖权的法庭认定无效，当事人仍同意法庭应尽量使该条款中反映的当事人意图有效，并且本服务条款的其他条款仍有效。
    </p>
    <p align="LEFT">
      <strong>适用法律。</strong>
      您同意，本服务条款及由本服务条款或经本网站获得的任何内容或服务引起的或与之相关的任何权利主张或诉讼应适用中华人民共和国（为本协议之目的，不包括香港特别行政区、澳门特别行政区和台湾地区）的法律（不包括冲突法）。您同意，所有该等权利主张和诉讼应提交本协议签订地（即北京市海淀区）的有管辖权的法院审理，您同意放弃就上述法院管辖提出任何异议。
    </p>
    <p align="LEFT">
      <strong>生效日期</strong>
      2016年5月5日
    </p>
  </div>
  
  <h1 id="privacy">知识港隐私政策</h1>
  <hr class="horizontal-divider"/>

  <div class="inner-wrapper">
    <p align="LEFT">
      知识港十分重视您个人信息的保密性和安全性。我们将按照本隐私政策尽合理的努力保护您的个人信息(下称“个人信息”，定义见下文)的安全。本隐私政策中使用的“我们”均指均指知识港。 </p>
    <p align="LEFT">
      本隐私政策仅适用于我们通过知识港网站（下称“本网站”，包含含其下的所有内容和页面）收集的信息，不适用于我们可能通过其他方式向您收集的信息（例如，本隐私政策不适用于您可能通过电话、传真或日常信函向我们提供的信息）。
    </p>
    <h2>
      <strong>用户名和发布</strong>
    </h2>
    <p align="LEFT">
      您在我们论坛、Wiki词条和用于公开交流或课程注册学生之间交流的本网站的其他页面上发表的评论和其他信息可能被本网站的其他访问者浏览和下载。为此，我们鼓励您在决定是否在上述论坛或其他公开或课程参与者可浏览页面上发布可能显示您的身份的任何信息时慎重思考。
    </p>
    <h2>
      <strong>关于在国外处理的同意</strong>
    </h2>
    <p align="LEFT">
      通过访问本网站或向知识港提供信息，您理解并明确同意我们为本隐私政策和知识港服务条款所约定的目的在中华人民共和国、其他国家和地区收集、使用、披露和保存信息。您特此同意知识港依本隐私政策收集、使用、披露和保存您的个人信息，包括但不限于在知识港和本隐私政策所述的第三方、附属机构及分支机构之间转移您的个人数据。为进一步确定，关于本条所述的转移信息的任何同意应视为包含您同意将适用的个人信息转移至另一司法区域，该区域的隐私保护程度可能与您所在国家的隐私保护程度不同。
    </p>
    <p align="LEFT">
      如果您不同意本隐私政策的条款，您无权访问、浏览或注册本网站。如果您选择不向我们提供本网站为您提供各种服务所必要的信息，您可能无法创建用户帐号，我们可能无法向您提供该等服务。
    </p>
    <h2>
      <strong>个人信息</strong>
    </h2>
    <p align="LEFT">
      本隐私策略使用的“个人信息”，
    </p>
    <p align="LEFT">
      您使用本网站时（例如您注册用户帐号或经本网站进行交易时）可能向我们提供的关于您的任何信息，可能包括但不限于您的姓名、联系信息、性别、出生日期和职业，如果您注册实名认证成绩证书，还可能包括机动车驾驶证或国家机关颁发的其他身份证明。
    </p>
    <p align="LEFT">
      我们尽力把个人信息的收集范围控制在为满足商业和法律法规要求，为特定的本网站的行为所需要的范围之内。例如，如果您希望购买实名认证成绩证书，我们将收集必要的个人信息以验证您的身份，更多内容请见知识港服务条款。如果您不希望提交该等必要的验证信息，您将无法通过本网站购买该等证明。
    </p>
    <p align="LEFT">
      知识港目前不向您收集财务信息；但是如果您选择购买实名认证成绩证书，您将会被转接到第三方服务商处理支付交易；您的支付信息的提交将适用支付登录页面上显示的条款，您可通过知识港服务条款访问。
    </p>
    <h2>
      <strong>我们收集哪些信息以及我们如何使用这些信息</strong>
    </h2>
    <p align="LEFT">
      当您注册用户帐号，参加知识港，注册付费证明，向我们发送电子邮件和/或参与公共论坛时，我们将收集信息，包括上述个人信息。我们也收集关于学生表现和学习模式的使用信息。此外，我们还记录显示以下内容的信息：本网站哪些页面被访问，其被访问的顺序和被访问的时间，哪些超链接和其他用户界面控件被使用等。
    </p>
    <p align="LEFT">
      我们可能登录本网站的每个用户所使用的IP地址、操作系统和浏览器软件，我们可能可以从IP地址确定用户的互联网服务提供商和其连接点的地理位置。我们将适用各种网络分析工具收集这些信息。一些信息将通过Cookie（即本网站可以接触到的、存在您电脑上的、存储着有关您的信息的小文本文件）收集。您应该能够控制您的Web浏览器如何以及是否接受Cookie。大多数浏览器都在工具栏上的“帮助”部分提供关于如何重置浏览器以拒绝Cookie的说明。如果您拒绝我们的Cookie，本网站的许多功能和服务可能无法正常工作。
    </p>
    <h2>
      <strong>第三方使用和披露</strong>
    </h2>
    <p align="LEFT">
      我们和通过知识港提供课程的教育机构（下称“大学”）还可能为下列各项相关目的使用通过本网站收集的您的信息。如果我们分享和披露您的个人信息：（1）第三方接收者应以保密的方式处理个人信息，并采取充分的安全措施保护信息不受损失、滥用、未经授权的访问或披露、修改及破坏；以及（2）我们仅为满足收集时已说明的目的向第三方披露和分享其需要的个人信息：
    </p>
    <ul>
      <li>
        <p align="LEFT">
          用于帮助大学提供、管理和改进课程；
        </p>
      </li>
      <li>
        <p align="LEFT">
          用于帮助我们和大学个别地（例如由课程职员与学生合作改进课程内容）和整体地改进知识港提供的内容，以实现使用体验个性化，评估本网站的访问和使用以及知识港在全球教育领域的影响；
        </p>
      </li>
      <li>
        <p align="LEFT">
          用于科学研究的目的，特别是，例如认知科学和教育学领域的科学研究；
        </p>
      </li>
      <li>
        <p align="LEFT">
          用于您提供信息的特定目的，例如，回复具体问题或向您提供您选定的具体课程内容和/或服务；
        </p>
      </li>
      <li>
        <p align="LEFT">
          用于跟踪个别和整体参与人数、在线教育的进展和完成情况，以及分析学生表现的统计数据和学生学习模式；
        </p>
      </li>
      <li>
        <p align="LEFT">
          用于监测违反诚信守则、服务条款的行为和其他滥用或潜在滥用本网站的行为；
        </p>
      </li>
      <li>
        <p align="LEFT">
          用于发表收集到的知识港访问、使用、影响和学生表现的信息，但不包括个人信息；
        </p>
      </li>
      <li>
        <p align="LEFT">
          用于向您发送知识港提供的在线课程或其他事件更新，向您发送您可能感兴趣的有关知识港的产品和服务、知识港服务机构或精选商业合作伙伴的信件，或向您发送本网站维护或更新的电子邮件信息；
        </p>
      </li>
      <li>
        <p align="LEFT">
          用于信息归档和/或未来与您沟通；
        </p>
      </li>
      <li>
        <p align="LEFT">
          用于维护和提高本网站、软件、系统和网络的安全性和功能；
        </p>
      </li>
      <li>
        <p align="LEFT">
          用于本隐私政策的其他条款所述的目的（包括，例如与第三方分享）；
        </p>
      </li>
      <li>
        <p align="LEFT">
          如收集信息时所述，经您同意或按法律允许的方式使用；
        </p>
      </li>
      <li>
        <p align="LEFT">
          在您注册付费证书时用于验证您的身份；
        </p>
      </li>
      <li>
        <p align="LEFT">
          用于处理退款，如适用。
        </p>
      </li>
    </ul>
    <h2>
      <strong>与第三方分享</strong>
    </h2>
    <p align="LEFT">
      我们将与大学分享我们收集的信息，以及我们和大学可能按如下约定与第三方分享信息(包括个人信息)：
    </p>
    <ul>
      <li>
        <p align="LEFT">
          与代表我们或大学执行某些功能（包括处理您在本网站上提供给我们的信息、本网站或其中一部分的运营、提供或管理课程或有关知识港或大学的其他服务）的服务供应商和承包商分享；
        </p>
      </li>
      <li>
        <p align="LEFT">
          与本网站的其他访问者分享，分享内容以您在本网站中用于公开交流的页面提交的评论、课程作业或其他信息或内容（下称“发布”）为限；与您参加的学知识港的其他成员分享，分享内容以您在本网站中可为其他课程成员浏览的页面提交的发布为限。我们可能在论坛的内容、课件中或以其他方式向后续加入您所选课程的学生提供您发布的内容。如果我们在本网站的非公开页面重新发布您发布的内容，我们将隐去您的真实姓名和邮件地址（除非得到您的明文允许），但是我们可能会未经您的同意使用您的用户名；
        </p>
      </li>
      <li>
        <p align="LEFT">
          用于科研目的，特别是，例如认知科学和教育学领域的科研。但是，我们将仅在适用法律允许的范围内且以满足收集时所述的目的所需的个人信息为限分享您的个人信息；
        </p>
      </li>
      <li>
        <p align="LEFT">
          用于提供机会让您与其他可能有类似的利益或教育目标的用户沟通。例如，我们可能会推荐具体研究伙伴，或连接潜在的学员和指导老师。在这种情况下，我们可能使用所有收集的关于您的信息，以确定谁可能有兴趣与您沟通，但我们只会向其他用户提供您的用户名，不会透露您的真实姓名或电子邮件地址；
        </p>
      </li>
      <li>
        <p align="LEFT">
          用于应对法院诉讼或其他法律程序；用于应对执法部门或其他政府机构的合作请求；用于调查、防止非法活动、涉嫌欺诈、安全或技术问题或采取措施；用于执行我们的服务条款、诚信准则或本隐私政策；用于适用法律可能要求的其他用途；或用于保护我们和他人的权利、财产或安全；
        </p>
      </li>
      <li>
        <p align="LEFT">
          与知识港或大学的附属机构（或在合并重组的情形下，与承继者）分享，由其按本隐私政策使用；
        </p>
      </li>
      <li>
        <p align="LEFT">
          如收集信息时所述，经您同意或按法律允许的方式使用；
        </p>
      </li>
      <li>
        <p align="LEFT">
          用于与第三方服务进行整合，例如，非由知识港控制的网页上所载的视频和其他内容。
        </p>
      </li>
    </ul>
    <p align="LEFT">
      此外，我们还可能与公众或第三方（包括但不限于研究人员及商业合作伙伴）分享汇总信息，但不会分享能识别您个人身份的信息。
    </p>
    <h2>
      <strong>用于个性化和教学水平提高</strong>
    </h2>
    <p align="LEFT">
      我们的目标是尽可能为现在和未来的访问者提供最好的学习体验。为进一步实现此目标，我们有时会向不同的用户呈现不同版本的课程资料和软件。之所以这么做，是为了向个人学生提供个性化体验（评估学生的学习水平和学习风格，为其呈现最合适的资料），评估我们的课程资料的有效性，增进我们对学习过程的理解，以及提高我们提供的内容的有效性。我们可能发表或以其他形式公开此过程的结果，但除非本隐私政策另有约定允许，上述发表或公开披露均不会包含个人信息。
    </p>
    <h2>
      <strong>链接到其他网站</strong>
    </h2>
    <p align="LEFT">
      本网站包含了前往第三方（包括其他内容提供者以及某些服务供应商，如代表知识港处理支付的服务商等）发布的网站的链接。这些网站不在我们控制范围之内，您确认并同意，除非本隐私政策中另有约定，我们不必为该等网站收集和使用您的信息承担责任。我们鼓励您在被转接至第三方网站时了解并查阅您访问和使用的每个网站的隐私政策。
    </p>
    <h2>
      <strong>安全</strong>
    </h2>
    <p align="LEFT">
      知识港设计了一套保护其持有或控制的个人信息的程序，但是互联网传输方法或电子存储方法均非100%安全，因此知识港无法保证个人信息的绝对安全。
    </p>
    <h2>
      <strong>修改隐私政策</strong>
    </h2>
    <p align="LEFT">
      请注意，我们可能随时审查并修改本隐私政策。本隐私政策修改后，本隐私政策链接将包含注记“更新（日期）”，这意味着您应查阅新条款，任何修改在本页面上发布后立即生效，并附更新后的生效日期。至少在更新后七（7）天内，本隐私政策链接将显示更新注记。在本网站进行任何修改之后，您访问本网站即视为您已同意修改后的本隐私政策和本网站的其他全部修改。如果您错过了前述通知，请定期访问本网页以了解本隐私政策的最新版本。
    </p>
    <h2>
      <strong>未成年人</strong>
    </h2>
    <p align="LEFT">
      本网站并非为13周岁以下的个人设计，知识港并未明知而收集前述年龄段个人的数据。如果我们知悉任何13周岁以下个人进行了注册，我们将从记录中删除任何相关个人信息。
    </p>
    <h2>
      <strong>隐私顾虑</strong>
    </h2>
    <p align="LEFT">
      如果您有隐私顾虑，或者披露了您希望保密的数据，或者希望访问我们持有的关于您的信息，请联系我们：<a href="mailto:contact@xuetangx.com">service@thechoice.com.cn</a>。
    </p>
    <p align="LEFT">
      <strong>生效日期</strong>
      ：2016年5月5日
    </p>
  </div>
  
  <h1 id="honor">知识港诚信守则公约</h1>
  <hr class="horizontal-divider">

  <div class="inner-wrapper">
    <h2>
      <strong>合作原则</strong>
    </h2>
    <p align="LEFT">
      通过在知识港上选修课程，您已经加入了一个特殊的全球学生社区。知识港的目标是通过应用互联网技术，为有动力、有能力参与高校课程学习的任何人提供学习体验的机会。您已成为帮助知识港实现这一目标的社区成员之一。
    </p>
    <p align="LEFT">
      知识港依赖于您主动、诚实地学习相关资料。为参与知识港，您必须同意以下诚信守则以及对某些课程适用的任何特定附加条款。本诚信守则以及任何附加条款将发布在每门课程的网站上。
    </p>
    <h2>
      <strong>知识港诚信守则公约</strong>
    </h2>
    <p align="LEFT">
      参加知识港的课程，以下内容将视为是您的承诺：
    </p>
    <ul>
      <li>
        <p align="LEFT">
          仅凭我个人努力完成所有期中和期末考试，不会提交任何其他人的作业/成果；
        </p>
      </li>
      <li>
        <p align="LEFT">
          仅持有一个用户帐号并且不会让其他人使用我的用户帐号和/或密码；
        </p>
      </li>
      <li>
        <p align="LEFT">
          不从事任何可能不诚实地提高我的成绩，或提高或损害他人成绩的行为；
        </p>
      </li>
      <li>
        <p align="LEFT">
          发布用于评估学生表现的题目的答案。
        </p>
      </li>
    </ul>
    <p align="LEFT">
      除非知识港课程的指导老师另有说明，知识港鼓励学生：
    </p>
    <ul>
      <li>
        <p align="LEFT">
          同他人合作完成讲座视频、练习、作业和实验；
        </p>
      </li>
      <li>
        <p align="LEFT">
          在课程中同其他人讨论一般概念和资料；
        </p>
      </li>
      <li>
        <p align="LEFT">
          将想法和书面成果展示给知识港同学或其他人，以获得他们的意见和评论。
        </p>
      </li>
    </ul>
    <h2>
      <strong>诚信守则的修改</strong>
    </h2>
    <p align="LEFT">
      请注意，我们可能不时审查和修改本诚信守则。本诚信守则的修改在本页面上发布后立即生效，并附更新后的生效日期。在本网站进行任何修改之后，您访问本网站即视为您已同意修改后的诚信守则和本网站的其他全部修改。请定期访问本网页以了解本诚信守则的最新版本。
    </p>
    <p align="LEFT">
      <strong>生效日期</strong>
      ：2013年5月5日
    </p>
  </div>
  
  <!--h1 id="copyright"> Licensing Information </h1>
      <hr class="horizontal-divider">

      <div class="inner-wrapper">
        <h2>Videos and Exercises</h2>
        <p> Copyright &copy; 2012 MIT. All rights reserved. In order to further MIT's goal of making education accessible and affordable to the world, MIT is planning to make <i>MITx</i> course content available under open source licenses.</p>

        <h2>Textbook</h2>
        <p> Copyright &copy; 2005 Elsevier Inc. All Rights Reserved. Used with permission. While our goal is to build courses with as much free and open content as possible, we apologize that we do not have the ability to do so entirely. </p>

        <h2>Student-generated content</h2>
        <p>Copyright &copy; 2012. All Rights Reserved. Due to privacy concerns, we do not know what portion of these will be released under open licenses.</p>

        <p>MIT and <i>MITx</i> are trademarks of the Massachusetts Institute of Technology, and may not be used without permission.</p>
  </div-->
</section>

      
    </div>
