## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
  <footer id="footer-openedx"
    ## When rendering the footer through the branding API,
    ## the direction may not be set on the parent element,
    ## so we set it here.
    % if bidi:
      dir=${bidi}
    % endif
  >
	
	<div class="do_scroll">
		<div class="txt">
		  <h3>常见问题</h3>
						<h4><span class="color_p">问</span>为什么我不能正常访问知识港慕课平台？是不是我的浏览器不行？</h4>
		  <p><span>答：</span>为了您顺利地完成课程学习，建议您将浏览器升级到最新版本。知识港慕课平台支持的浏览器包括IE 9.0及以上版本、Firefox 21及以
	上版本、Chrome 24及以上版本、Safari 6.0及以上版本等。</p>
		  
		  
		  
		  <h4><span class="color_p">问</span>为什么我无法提交课后作业？</h4>
		  <p><span>答：</span>每次课后作业有截止时间，在左侧章节列表中显示。超过截止时间，课后作业将无法提交。</p>
		  <h4><span class="color_p">问</span>如果我提交课后作业后发现答案有误，该如何更改？</h4>
		  <p><span>答：</span>每道题目都有提交次数的限制，具体情况根据老师对题目的设置有所不同。在提交次数超过限制次数之后，就不能再更改了。</p>
		  

		</div>
	  </div>
  
  
    <div class="colophon">
      <nav class="nav-colophon" aria-label="${_('About')}">
        <ol>
            % for item_num, link in enumerate(footer['navigation_links'], start=1):
            <li class="nav-colophon-0${item_num}">
              <a id="${link['name']}" href="${link['url']}"></a>
            </li>
            % endfor
        </ol>
      </nav>

      <div class="wrapper-logo">
        <p style = "font-family:arial,'Microsoft YaHei',SimHei,SimSun;font-size:20px;">
         
            ## The default logo is a placeholder.
            ## You can either replace this link entirely or update
            ## the FOOTER_ORGANIZATION_IMAGE in Django settings.
            ## If you customize FOOTER_ORGANIZATION_IMAGE, then the image
            ## can be included in the footer on other sites
            ## (e.g. a blog or marketing front-end) to provide a consistent
            ## user experience.  See the branding app for details.
            营口港
        
        </p>
      </div>

      ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
      <p class="copyright">© all rights reserved</p>

      <nav class="nav-legal" aria-label="${_('Legal')}">
        <ul>
          % for item_num, link in enumerate(footer['legal_links'], start=1):
            
          % endfor
        </ul>
      </nav>
    </div>

    ## Please leave this link and use one of the logos provided
    ## The OpenEdX link may be hidden when this view is served
    ## through an API to partner sites (such as marketing sites or blogs),
    ## which are not technically powered by OpenEdX.
    % if not hide_openedx_link:
    <div class="footer-about-openedx">
      <p>
        <a href="${footer['openedx_link']['url']}">
          <img src="static/images/openedx-logo-tag.png" alt="${footer['openedx_link']['title']}" width="140" />
        </a>
      </p>
    </div>
    % endif
  </footer>
</div>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
